absl-py==0.15.0
astunparse==1.6.3
bimpy==0.1.1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
cycler==0.12.1
dareblopy==0.0.5
distlib==0.3.9
dlutils==0.0.12
filelock==3.16.1
flatbuffers==1.12
gast==0.4.0
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==3.10
imageio==2.6.1
importlib-metadata==8.5.0
joblib==1.4.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.4.3
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==19.2
Pillow==9.4.0
platformdirs==4.3.6
protobuf==3.20.3
pyasn1==0.6.1
pyasn1-modules==0.4.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==0.24.2
scipy==1.4.1
six==1.15.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==3.5.0
torch==1.8.0
torchaudio==0.8.0
torchvision==0.9.0
tqdm==4.36.1
typing-extensions==3.7.4.3
urllib3==2.2.3
virtualenv==20.29.3
werkzeug==3.0.6
wrapt==1.12.1
yacs==0.1.6
zipp==3.20.2
